@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&family=Inter:wght@100;200;300&family=Poppins:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
@font-face{
    font-family: 'poppins';
    font-style: normal;
    src: url('/fonts/Poppins/Poppins-Black.ttf');
}
:root {
    --main-bg-color : #FFEAC5;
    --orange : #EF8242;
    --violet : #711A50;
    --text : #5B5559;
    --white : #fbf6f7;
}

main{
    font-family: "Poppins";
    background-color: var(--main-bg-color);
    color: var(--text);
}