.brand{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;

}
.brand div{
    height: auto;
    width: 20%;
}
.brand div img{
    height: auto;
    width: 100%;
}