.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: var(--violet);
    color: var(--main-bg-color);
    text-transform: none;
    text-decoration: none;
    color: var(--main-bg-color);
    font-weight: bold;
    font-weight: bold;
    width: max-content;
    border-radius: 10px;
}
.btn_icone span{
    width: 90%;
}
.btn_icone i{
    width: 10%;
}
.btn_icone{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header nav{
    height: 100px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: whitesmoke;
}
.logo{
    width: 200px;
    height: 100%;
}
.logo img{
    width: 100%;
    height: 100%;
}
.langs{
    width: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.langs_btn{
    height: 30px;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--violet);
    font-size: .8rem;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.langs_btn a{
    color: var(--text);
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.langs_btn.active{
    background-color: var(--violet);
    color: white;
}
.langs_btn.active a{
    color: white;
    text-decoration: none;
}
header .hero{
    width: 100%;
    height: 400px;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding-left: 10%;
}
.hero_cta{
    width: 50%;

}
.hero_cta h1{
    font-family: 'poppins';
}
.hero_cta h1 span:first-of-type{
    color: var(--violet) ;
}
.hero_cta h1 span:last-of-type{
    color: var(--orange);
}
.hero_cta p{
    margin-top: 15px;
    color: var(--text);
    margin-bottom: 15px;
}
.hero_img{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hero_img img{
    width: 70%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    header .hero{
        width: 100%;
        height: auto;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--main-bg-color);
        padding-left: 10%;
    }
    .hero_cta{
        width: 100%;
    
    }
    .hero_img{
        width: 100%;
        height: 100%;
    }
    .hero_img img{
        width: 100%;
        height: 100%;
    }
  }