.programme{
    background-color: #fff;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.programme h2{
    color: var(--violet);
    font-size: 32px;
    font-family: sans-serif;
    padding-bottom: 10px;
}